.button {
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.primary {
  background-color: #1d1f21;
  color: #fff;
}

.primary:hover {
  background-color: #292b2e;
}

.secondary {
  background-color: #fff;
  color: #1d1f21;
}

.secondary:hover {
  background-color: #e2e2e2;
}
